.container{
    position: relative;
    width: 180px; 
    height: 120px;
    margin: 380px auto 40px; 
    transform-style:preserve-3d; 
    background:rgba(0,0,0,0); 
}

.carousel{
    position:absolute;
    width:100%;
    height:100%;
    background:#fff;
    transform-style:preserve-3d;
    backface-visibility:hidden;
    transform: rotateX(0deg)  translateY(0px);
    transition:all transform 1s;
    animation: scroll 8s linear infinite;
}

@keyframes scroll{
  100%{
      transform:translateZ(0px) rotateX(60deg) rotateZ(0deg);
      box-shadow:0 0 200px #DAA520;
  }
  0%{
      transform:translateZ(0px) rotateX(60deg) rotateZ(360deg);
      box-shadow:0 0 100px #2F4F4F;
  }
}
.carousel figure{
    display:block;
    position:absolute;
    width:180px;
    height:120px;   
    margin:0;
    background:rgba(0,0,0,0);
    /* color:#fff; */
    opacity:1;
    box-shadow:1px 1px 100px #2F4F4F;
}


.carousel figure:nth-child(1){
    transform:rotateX(0deg) rotateZ(0deg) translateY(-284px); 
    background:#FFD700;
}
.carousel figure:nth-child(2){
    transform:rotateX(0deg) rotateZ(45deg) translateY(-284px); 
    background:#fff8dc;
}
.carousel figure:nth-child(3){
    transform:rotateX(0deg) rotateZ(90deg) translateY(-284px); 
    background:#FF00FF;
}
.carousel figure:nth-child(4){
    transform:rotateX(0deg) rotateZ(135deg) translateY(-284px); 
    background:#008B8B;
}
.carousel figure:nth-child(5){
    transform:rotateX(0deg) rotateZ(180deg) translateY(-284px); 
    background:#DC143C;
}
.carousel figure:nth-child(6){
    transform:rotateX(0deg) rotateZ(225deg) translateY(-284px); 
    background:#7FFF00;
}
.carousel figure:nth-child(7){
    transform:rotateX(0deg) rotateZ(270deg) translateY(-284px); 
background:#FF7F50;
}
.carousel figure:nth-child(8){
    transform:rotateX(0deg) rotateZ(315deg) translateY(-284px);
    background:#00CED1;   
}

#circle-outer{
  left:50%;
  top:50%;
  transform:rotateX(0deg) rotateZ(0deg) translate3D(-50%,-50%,-20px);
  width:760px;
  height:760px;
  background:#FFF8DC;
  border-radius:50%; 
  opacity:0.5;
  box-shadow:0 0 400px #FFD700;

}

svg{
  display:block;
  position: absolute;
  left:50%;
  top:50%;
  box-sizing:border-box;
  transform:rotateX(0deg) rotateZ(0deg) translate3D(-50%,-50%,10px);
  width:340px;
  height:340px;
  background:#fff;
  border-radius:50%; 
  /* opacity:0.9;  */
  box-shadow: 0 0 100px #F4A460;
}




.carousel figure{
    display: flex; 
    justify-content: center; 
    align-content:space-around;
    flex-wrap: wrap;
    box-sizing:border-box;
    padding:20px 20px;
    border-radius: 3px;
}
.carousel figure .row{
    width: 150px;
    height: 10px;
    background:#555;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 3px;
}
#row-ct{
    background:rgba(0,0,0,0);
}

.carousel .row .column{
    width:60px;
    height:10px;
    background:#555;
    border-radius: 3px;
     box-shadow: 0 0 5px #00008B;
}
.row-s{
    box-shadow: 0 0 5px #00008B;
}