<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3d_carousel</title>
    <link rel="stylesheet" type="text/css" href="./css/style3d_carousel.css">
</head>
<body>
  	<section class="container">
		<div class="carousel">
			<figure>1</figure>
			<figure>2</figure>
			<figure>3</figure>
			<figure>4</figure>
			<figure>5</figure>
			<figure>6</figure>
			<figure>7</figure>
			<figure>8</figure>        
		</div>    
  	</section> 
</body>
</html>