<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>slider</title>
    <link href="./css/style_slider.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="img-wrapper">
    <ul class="img-ct" style="width:1800px; left:-320px;">

    </ul>
        <a href="#" id="pre" class="btn">&lt;</a>
        <a href="#" id="next" class="btn">&gt;</a>
</div>
<!-- <div class="img-wrapper">
    <ul class="img-ct" style="width:1800px; left:-320px;">

    </ul>
        <a href="#" id="pre" class="btn">&lt;</a>
        <a href="#" id="next" class="btn">&gt;</a>
</div> -->
<script src="./js/jquery-2.1.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script src="js/main_slider.js"></script>

</body>
</html>