body{
    margin:0;
    padding:0 auto;
}
.contanier{
    width:1000px;
    min-height:1200px;
    padding:80px;
    margin:0 auto;
    border:1px solid #f00;
    background: #ff9279;
    display:flex;
    align-content:space-between;
    justify-content:space-between;
    flex-wrap:wrap;

}
.show{
    position: fixed;  
    width:120px;
    height:120px;
    /*border:2px solid #00f;*/
    border-radius:3px solid #FF0099;
    background:#f6f4ec;
    box-shadow: 0 0 10px #FF0099;
}
.show .title{
    color:#4D34DC;
    font-size:14px;
    text-align:center;
    /*margin-top:30px;*/
    padding:10px;
}
.show .distance{
    width:45px;
    height:25px;
    margin:5px auto;
    display:block;
    border:2px solid #fff;
    background:#ddd;
    color:#000;
    font-size:18px;
}
.show .distance:after{
    content:"px";
    font-size:14px;
    position:relative;
    margin-left:35px;
}
.wrap{
    display:flex;
    justify-content:center;
    align-items: center;
    width:700px;
    height:250px;
    border-radius:10px solid #f6f;
    background:#f6f4ec; 
    margin:10px auto;
    box-shadow: 0 0 10px #FF0099;
}
.btn{
    background:#fff;
    width:100px;
    height:40px;
    border-radius:10px;
    border:none;
    font-size:20px;
    text-align:center;
    outline: none;
    display:block;
    cursor:pointer;
    color:#7360e4;
}
.btn:hover{
    color:#66e560;
}
.wrap .over{
    width:300px;
    height:100px;
    border:2px solid #0f0;
    border-radius: 10px;
    color:#00f;
    font-size:25px; 
    line-height: 100px;
    text-align:center;
    background:#fff;
    cursor:pointer;
}
.wrap label{
    font-size:20px;
    color:#000;
}
.wrap #input{
    border:5px solid #FF0099;
    outline:none;
    padding:10px 20px;
    width:200px;
    height:40px;
    border-radius:10px;
    margin:10px 5px;
    font-size:22px;
}
#city{
    /*border:1px solid #00f;*/
    color:#000;
    background:#ff9b00;
    outline:none;
    /*width:50px;
    height:20px;*/
    font-size:18px;
    /*overflow:hidden;*/
    cursor:pointer;
    margin:10px 20px;
    padding:5px 20px;
    box-sizing: border-box;
}
#city .chose{
    background:#ff9b00;
}
.result{
    display:inline-block;
    width:200px;
}
.chosed{
    border:2px solid #0098cc;
    border-radius: 3px;
    padding:5px 20px;
    width:50px;
}