*{
    /* background:#90EE90; */
    padding: 0;
    margin: 0;
    overflow: visible;
}
.img-wrapper{
    overflow: hidden;
    width: 320px;
    height:180px;
    position: relative;
    margin: 100px auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.img-wrapper ul,
.img-wrapper li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
}
.img-wrapper .img-ct{
    width: 1280px;
    /*height: 184px;*/
    overflow: visible;
    position: absolute;
    /* left: -960px; */
}
.img-wrapper .img-ct .image-item{
    display: inline-block;
    /*float: left;*/
}
.img-wrapper .img-ct img{
    width: 320px;
    height: 180px;
    display: inline-block;
}
.img-wrapper .btn{
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    line-height: 30px;
    font-weight:normal;
    font-size: 20px;
    text-decoration: none;
    background: #666;
    color: #fff;
    opacity: 0.3;
}
.img-wrapper .btn:hover{
    opacity: 1;
}
.img-wrapper #pre{
    left: 10px;
}
.img-wrapper #next{
    right: 10px;
}
